/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

:root {
  --heading-font: 'DM Sans', sans-serif;
  --main-font: 'Rubik', sans-serif;
  --heading-color: #111111;
  --text-color: #414141;
  --bg-mid: #0B468D;
  --bg-dark: #062449;
  --bg-light: #f6f6f6;
  --gap: 3em;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: -0.05em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.section-heading h1, 
.section-heading h2 {
  font-size: 4.5rem;
}

@media (min-width: 768px) {
  .section-heading h1, 
  .section-heading h2 {
    font-size: 7.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: 500;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid var(--text-color);
}

.text-lg {
  font-size: 1.25em;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 3em;
  margin: 0 auto;
}

.App-section {
  min-height: 100vh;
  display: grid;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.dark {
  --heading-color: #fff;
  --text-color: #f2f2f2;
}

.line-before {
  position: relative;
  padding-left: 4em;
}

.line-before::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  display: inline-block;
  width: 2rem;
  height: 1em;
  border-top: 1px solid;
}

.line-before.long {
  padding-left: 8em;
}

.line-before.long::before {
  width: 5rem;
}

/*
* Preloader 
*/
.App-preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: var(--bg-dark);
}


/*
* Background 
*/

.App-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dark);
  position: fixed;
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
}

/*
* Header 
*/

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 3rem;
  color: #ffffff;
  z-index: 100;
  --text-color: #f2f2f2;
}

.App-logo {
  margin-bottom: 3em;
}

.App-logo a {
  display: block;
  width: 3em;
  height: 3em;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  text-align: center;
  line-height: 3em;
  text-decoration: none;
  font-family: var(--heading-font);
  color: var(--text-color);
  font-size: 1.25rem;
}

.App-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}



.App-nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--heading-font);
  font-size: 1rem;
  padding: 1rem;
  font-size: 0.85em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .App-header {
    align-items: flex-start;
    flex-flow: row;
  }

  .App-logo {
    margin-bottom: 0;
  }

  .App-nav {
    margin-left: auto;
  }

  .App-nav ul {
    flex-flow: row;
  }

  
}

@media (min-width: 1200px) {
  .App-nav ul li {
    margin-left: 2rem;
  }
}

/*
* Splash 
*/

.splash {
  background-color: var(--bg-mid);
  color: var(--text-color);
  grid-template-rows: 1fr 2fr 1fr;
}

.splash .splash-content {
  grid-row: 2/3;
  align-self: center;
}

.splash .splash-content .content {
  max-width: 28em;
  font-size: 1.25em;
  margin-left: 2em;
  font-weight: 300;
}

.splash .content.line-before::before {
  transform: rotate(90deg);
  transform-origin: top;
}

.splash .splash-footer {
  grid-row: 3/4;
  align-self: flex-end;
  font-family: var(--heading-font);
  color: var(--text-color);
}

@media (min-width: 576px) {
  .splash .splash-footer {
    display: flex;
    justify-content: space-between;
  }

  .splash .splash-footer .hire-me {
    text-align: right;
  }
}

.splash .splash-footer div .tag {
  display: block;
  margin-bottom: 0.5em;
}

.splash .splash-footer div p {
  margin:0;
}



.splash .scroll-prompt {
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  transform: rotate(-90deg) translateX(0%);
  line-height: 0;
  transform-origin: left;
  font-family: var(--heading-font);
  color: var(--text-color);
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  font-size: 0.85em;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-links ul li a {
  padding: 1em;
  font-size: 0.85em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

@media (max-width: 767px) {
  .splash .scroll-prompt {
    display: none;
  }
}

@media (min-width: 768px) {
  .splash {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }

  .social-links {
    position: absolute;
    bottom: 3em;
    transform: rotate(-90deg) translateY(-100%) translateX(100%);
    right: 3em;
    transform-origin: right;
  }
  
  .social-links ul {
    display: flex;
  }
  
  .social-links ul li + li {
    margin-left: 2em;
  }
  
  
}

.tag {
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: inline-block;
  color: var(--text-color);
} 



/*
* About 
*/

.about {
  background-color: var(--bg-light);
}

.about .content .big-text {
  font-size: 1.5rem;
  line-height: 1.5em;
}



/* .about .content .details::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 30px;
  width: 50vw;
  background: var(--bg-dark);
  z-index: -1;
} */


.about .content .details {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.about .content .details ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
}

.about .content .profile .resume-link a {
  font-weight: 500;
}

@media (min-width: 768px) {
  .about .content .details {
    position: relative;
    grid-area: details;
  }

  .about .content {
    display: grid;
    grid-template-areas:  
    "tag tag"
    "heading heading"
    "big-text details"
    "story story";
    grid-template-columns: 2fr 1fr;
    column-gap: var(--gap);
    row-gap: var(--gap);
  }

  .about .content .tag {
    grid-area: tag;
    align-self: center;
  }

  .about .content .section-heading {
    grid-area: heading;
  }
  
  .about .content .big-text {
    grid-area: big-text;
  }
  
  .about .content .story {
    grid-area: story;
  }
}

@media (min-width: 1200px) { 
  .about .content {
    grid-template-areas: 
    "tag       big-text     big-text "
    "heading   .            story    "
    "details   details      .        ";
    grid-template-columns: 4fr 1fr 5fr;
  }
}

/*
* Skills 
*/

.skills .skill-card {
  margin-top: 3rem;
}

.skills .skill-card h3 {
  font-size: 1.5rem;
}

.skills .skill-card ul {
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .skills .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
    justify-content: center;
    align-items: center;
  }

  .skills .content .section-heading {
    grid-column: 1/3;
  }
}

@media (min-width: 1200px) { 
  .skills .content {
    grid-template-columns: 2fr 1fr;
  }

  .skills .content .skill-cards {
    grid-column: 1/2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);
  }

  .skills .content .skill-cards .skill-card {
    padding: 1em;
  }

  .skills .content .section-heading {
    grid-column: 2/3;
  }
}

/*
* Academics 
*/

.academics {
  background-color: var(--bg-light);
  text-align: center;
}



.academics .content .info p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .academics .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: calc(var(--gap) / 2);
  }
  
  .academics .section-heading {
    grid-row: 1 / 2;
    grid-column: 1 / span 3;
  }
  
  .academics .content .info {
    grid-row: 2 / 3;
    grid-column-start: 2;
  }
}

/**
* Contact
*/
.contact {
  background-color: var(--bg-dark);
  color: var(--text-color);
}

.contact .content .section-heading h2 {
  margin-top: 0;
}

.contact .content .details {
  padding: 1.5em 0;
}

.contact .content .details ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

.contact .content .social-media-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.contact .content .social-media-links ul li {
  margin-right: 3em;
}

.contact .content .social-media-links ul::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid;
}


@media (min-width: 768px) {
  .contact .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap);
  }

  .contact .content .section-heading {
    grid-column: 1/2;
  }

  .contact .content .details {
    grid-column: 2/3;
    grid-row: 1;
  }

  .contact .content .social-media-links {
    grid-column: 1/3;
    grid-row: 2;
    padding: 0 3em;
  }
}

@media (min-width: 1200px) { 
  .contact .content {
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }

  .contact .content .section-heading {
    grid-column: 2/3;
  }

  .contact .content .details {
    grid-column: 3/4;
  }

  .contact .content .social-media-links {
    grid-column: 2/4;
  }
}